* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Hind', 'Oswald', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

body {
    background-image: url("../img/bg_pattern.png");
    height: 2vh;
}

.header1 {
    width: 100%;
    /* height: 100%; */
    background-color: #0062A2;
}

.mini_logo {
    height: 3.4rem;
}

.barra {
    width: 100%;
    display: flex;
    align-items: center;
}

/* colors */
.white {
    color: #fff;
}


.barra_info_pet {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-image: url("../img/bg_pattern.png");
    list-style-type: none;
    border: 2px solid #bbb5b52f;
}

.barra_info_pet li a {
    text-decoration: none;
}

/* botão para kits/brinquedos */
.caixa {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    transition: 0.6s;
    background-color: #ff0000;
    border-radius: 0.5rem;
    padding: 0.4rem;

}

.caixa2 {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    transition: 0.6s;
    padding: 0.4rem;
}

.caixa2:hover {
    color: white;
    cursor: pointer;
    background-color: #0062A2;
    border-radius: 0.5rem;
}

/* localização do botao do carousel */

/* cor do botões */
.color_bottom {
    background-color: #939393;
    border-radius: 1rem;
}

/* 
.bt_carousel1 {
    position: fixed !important;
    top: 130px;
    right: 90px;
    z-index: 999 !important;
    background-color: #939393;
    border-radius: 1rem;

}

.bt_carousel2 {
    position: fixed !important;
    top: 130px;
    right: 50px;
    z-index: 999 !important;
    background-color: #939393;
    border-radius: 1rem;
} */

/* mini banners */
.banner_mini {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 0.2rem;


}

.mini_img {
    height: 110px;
}

/* conteudo cadastro cliente */

.borda_vips {
    border: 2px solid #bbb5b52f;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.borda_shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/* info para cadastro */

.info_bg {
    width: 100%;
    background-color: #0062A2;
}

/* area duvidas */

.conteudo_duvidas {
    list-style: none;
    color: #000;
}

a:hover {
    color: #939393;
    transition: 0.4s;
}